# <b> Tutorial 1

Dalam Tutorial 1 ini akan dibahas:
1. operasi aritmatika
2. type data
3. variabel
4. perintah masukan dan keluaran

## 1. Operasi Aritmatika: 
    * penjumlahan (+) dan pengurangan (-)
    * perkalian (*) dan pembagian (/, //(pembagian dengan hasil bulat), %(sisa pembagian)),
    * pemangkatan (**)
##   Urutan operasi: 
    * dilakukan dari kiri ke kanan
    * mengikuti aturan PEMDAS (Parantheses, Exponentiation, Multiplication, Division, Addition, Substraction)

In [ ]:
2 + 3

In [ ]:
3 - 2

In [ ]:
2 * 3

In [1]:
3 / 2

1.5

In [12]:
3 / 0

ZeroDivisionError: division by zero

In [11]:
3 // 2

1

In [13]:
-3 / 2

-1.5

In [14]:
-3 // 2

-2

In [2]:
3 % 2

1

In [3]:
3 ** 2

9

Pemangkatan dengan pecahan digunakan untuk menghitung akar utama suatu bilangan.

In [ ]:
4 ** (1 / 2)

In [ ]:
3 * (2 + 5)

In [ ]:
3 * 2 + 5

Pemangkatan berganda dimulai dari yang paling kanan.

In [ ]:
4 ** 3 ** 2

In [ ]:
4 ** (3 ** 2)

In [ ]:
(4 ** 3) ** 2

## 2. Tipe Data:
    * bilangan bulat (int): 2, 3, 4,...
    * bilangan riil (float): 2.0, 3.14,...
    * teks/huruf (string): "s", 'satu', "23",...
  Pada bilangan bulat dan riil berlaku operasi aritmatika seperti biasanya.
  Tipe string dituliskan dalam tanda petik tunggal(' ') atau ganda(" "). Pada string operasi aritmatika yang 
  berlaku hanyalah + (penggabungan) dan * (pengulangan)

In [ ]:
type(2)

In [ ]:
type(2.0)

In [ ]:
type("2")

In [ ]:
type('Python')

In [ ]:
99 + 1

In [ ]:
"99" + "1"

In [ ]:
"Aa" * 4

Penggabungan string dengan menggunakan tanda + tidak menyertakan spasi.

In [2]:
"Bahasa" + "Pemrograman" + "Python"

'BahasaPemrogramanPython'

In [3]:
"Bahasa" + " " + "Pemrograman " + "Python"

'Bahasa Pemrograman Python'

## 3. Variabel:
    * digunakan untuk menyimpan nilai yang akan digunakan lagi di kemudian hari
    * pemberian nilai ke variabel dengan menggunakan tanda =
    * nama variabel boleh mengandung huruf, angka dan garis bawah
    * nama variabel tidak boleh dimulai dengan angka
    * nama variabel bersifat case-sensitive: huruf besar dan kecil berbeda arti
    * nama variabel sebaiknya mengandung makna tetapi tidak terlalu panjang
    * nama variabel tidak boleh menggunakan nama fungsi dalam Python seperti print(), input() dll.
      (daftar selengkapnya nama fungsi dalam Python dapat dilihat di www.python.org)

In [ ]:
A = 5

In [ ]:
A

In [ ]:
A + 2 ** 3 - 10 / 5

In [ ]:
B = 2 ** A % 3

In [ ]:
B

In [ ]:
B = B + 1

In [ ]:
B

In [ ]:
suhu = 37.5

In [ ]:
print(suhu)

In [8]:
print("suhu")

suhu

In [9]:
print("suhu badannya", suhu)

NameError: name 'suhu' is not defined

In [ ]:
print("suhu badannya:\n", suhu)

In [ ]:
nama = "Andy"

In [ ]:
print(nama)

In [ ]:
print("Nama saya", nama)

In [ ]:
print("Nama saya" + nama)

In [ ]:
print("Selamat"+ " " + nama + "!")

In [ ]:
x = 7

In [ ]:
print(X)

In [ ]:
print(x)

In [ ]:
_x2 = x ** 2

In [ ]:
print(_x2)

In [ ]:
2x = 2 * x

## 4. Perintah masukan dan keluaran:

Perintah yang biasa digunakan untuk memasukkan suatu nilai ke dalam variabel adalah input(). Dalam Python, tipe data  yang dimasukkan dengan perintah input secara otomatis akan menjadi string. Apabila diinginkan mengubah tipe data tersebut ke dalam bilangan bulat atau bilangan riil maka digunakan perintah int() dan float(). Sedangkan perintah str() digunakan untuk mengubah tipe data dalam string.

Perintah untuk menampilkan luaran adalah print().

In [3]:
print("Masukkan sebuah bilangan: ")
y = input()
type(y)

Masukkan sebuah bilangan:

str

In [ ]:
y

Mengubah tipe data string yang dimasukkan lewat perintah input() dengan int() atau float().

In [4]:
z = input("berapa banyak mobilmu? ")
z = int(z)
type(z)

int

In [5]:
w = float(input("berapakah hasil bagi 1 dengan 2?"))
type(w)

float

Untuk menampilkan luaran pada baris berikutnya digunakan perintah \n.

In [2]:
w = float(input("berapakah hasil bagi 1 dengan 2? \n"))

berapakah hasil bagi 1 dengan 2?
 0.5

In [ ]:
int(3.5)

In [6]:
float(2)

2.0

In [7]:
str(2)

'2'

In [ ]:
int('2')

In [ ]:
float("3")

NameError: name 'pi' is not defined